{% extends 'base.html' %}

{% block content %}
  {% if not object.complete %}
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h2>Is the Task <b><u><i>COMPLETED</i></u></b>?</h2><br>
      <form class="" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="login loginmodal-submit" value="Complete">
      </form>
    </div>
  </div>
  {% else %}
    <div class="alert alert-warning">
      <div class="text-center">
        <h1>This task has already been completed!</h1>
      </div>
    </div>
  {% endif %}
{% endblock %}
