{% extends 'base.html' %}

{% block content %}
  <form class="" action="" method="post">
    {% csrf_token %}
    <p>Title: <input type="text" name="title" placeholder="Title (100 char limit)"></p>
    <p>Description: <textarea name="description" rows="5" cols="50" placeholder="Description of your task"></textarea></p>
    <p>Completed?: <input type="checkbox" name="complete"></p>
    <p>Date: <input type="text" name="date" id="datepicker"></p>
    <input type="submit" name="" value="Create!">
  </form>
{% endblock %}

{% block js %}
  <script>
    $(function(){
      $("#datepicker").datepicker();
    });
  </script>
{% endblock %}
