{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ToDo List</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" media="screen" title="no title">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    {% block css %}
    {% endblock %}
    <style media="screen">
      body {
        background-color: #F5DEB3;
      }
      .navbar-right {
        padding-right: 100px;
      }
      #login {
        font-size: 18px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="navbar navbar-default">
        {% if not request.user.is_authenticated %}
        <div class="container">
          <form class="navbar-form navbar-right" action="{% url 'login' %}" method="post">
            <b id="login">Login:</b>
            {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input id="password" type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-default">Sign In</button>
          </form>
        </div>
        {% else %}
          <nav class="nav navbar-nav navbar-right">
            <a href="{% url 'logout' %}?next={% url 'todo_view' %}"><i class="fa fa-power-off"></i> Logout</a>
          </nav>
        {% endif %}
      </div>
      {% block content %}

      {% endblock %}
    </div>

    {% block js %}
    {% endblock %}
  </body>
</html>
